.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('martha-dominguez-de-gouveia.jpg')
}

.container-cover {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: .6;
}

.header {
  height: 120px;
  border-bottom-width: 8px;
  font-size: 2.25rem;
  line-height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-weight: bold;
  z-index: 10;
}

.service-list {
  flex: 1 1 0%;
  padding: 2rem 8rem 2rem 8rem;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: repeat(3, minmax(0, 1fr));
  column-gap: 2rem;
  row-gap: 0.5rem;
  z-index: 10;
}

.service-card {
  border-radius: .75rem;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  padding: 1rem;
}

.service-title {
  flex: 1 1 0%;
  margin-bottom: .25rem;
  text-align: center;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.service-text {
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
}

.service-card-separator {
  border-bottom-width: 4px;
  margin-bottom: 1rem;
  width: 16rem;
}

.service-icon {
  font-size: 1.5rem;
  line-height: 2rem;
}

@media only screen and (min-width: 1920px) {
  .header {
    height: 160px;
    border-bottom-width: 8px;
    font-size: 3rem;
    line-height: 1;
  }

  .service-list {
    padding: 3.5rem 9rem 3.5rem 9rem;
    column-gap: 3.5rem;
    row-gap: 1.25rem;
  }

  .service-card {
    border-radius: 1rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
    letter-spacing: 0.1em;
    padding: 1.25rem;
  }

  .service-title {
    margin-bottom: 1rem;
  }
  
  .service-card-separator {
    border-bottom-width: 8px;
    margin-bottom: 1.25rem;
    width: 24rem;
  }
  
  .service-icon {
    font-size: 3rem;
    line-height: 1;
  }
}