.bg-gray-3d {
  background: linear-gradient(to bottom,  rgb(31, 41, 55) 0%, rgb(30, 40, 53) 100%);
}

.bg-lime-3d {
  background: linear-gradient(to bottom, #73C579 0%, #48C250 50%, #00C30D 100%);
}

.outer-shadow {
  box-shadow: inset 0px 1px 0px rgba(209, 213, 219, .15), 0 2px 2px  rgba(0, 0, 0, 0.1);
}

.inner-shadow {
  box-shadow: 0 1px 0 rgba(97, 97, 97, 0.15), inset 0 1px 1px  rgba(0, 0, 0, 0.1);
}

.main-container {
  height: 100vh;
  width: 100%;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  padding: 0 .875rem 0 .875rem;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .875rem 0 .875rem 0;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.locket-container {
  border-radius: 0.375rem;
  padding: 0.125rem 0.625rem 0.125rem 0.625rem;
}

.locket-label {
  font-size: 0.75rem;
  line-height: 1rem;
}

.app-exit {
  font-size: 1rem;
  line-height: 1.5rem;
}

.main-content {
  flex: 1 1 0%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.queue-number-wrapper {
  width: 14rem;
  height: 14rem;
  border-radius: 9999px;
  border-width: 4px;
  margin: 0 auto;
  margin-bottom: 1rem;
  padding: .5rem;
}

.queue-number-border {
  padding: .5rem;
  width: 100%;
  height: 100%;
  border-radius: 9999px;
}

.queue-number {
  border-radius: 9999px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  line-height: 1;
  font-weight: bold;
  height: 100%;
  width: 100%;
}

.app-text {
  text-align: center;
  margin-bottom: 1rem;
}

.app-text-title {
  font-weight: bold;
  font-size: 1.125rem;
  line-height: 1.75rem;
}

.app-text-subtitle {
  font-size: 0.75rem;
  line-height: 1rem;
}

.queue-call-background {
  margin: 0 auto;
  text-align: center;
  border-radius: 9999px;
  padding: .5rem 0 .5rem 0;
  width: 11rem;
  margin-bottom: 1rem;
}

.queue-call-button {
  border-radius: 9999px;
  font-size: 1.25rem;
  line-height: 1.75rem;
  width: 9rem;
  padding: .5rem 1rem .5rem 1rem;
  text-transform: uppercase;
}

.queue-action-list {
  border-radius: 1.5rem;
  width: 15rem;
  margin: 0 auto;
  padding: .5rem 1rem .5rem 1rem;
  display: flex;
  justify-content: center;
  margin-bottom: .25rem;
}

.queue-action-frame {
  padding: .125rem;
  border-radius: .125rem;
  height: 2rem;
  width: 2rem;
  position: relative;
}

.queue-action-frame:not(:last-child) {
  margin-right: 1.5rem;
}

.queue-action-frame:not(:last-child):after {
  content: '';
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
  height: 1.5rem;
  right: -40%;
  background-color: #ffff;
}

.queue-action {
  width: 100%;
  height: 100%;
  font-size: 0.75rem;
  line-height: 1rem;
  border-radius: 0.375rem;
}

.queue-action-label-list {
  font-size: 9px;
  margin: 0 auto;
  width: 15rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

.queue-action-label {
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.queue-action-label:not(:last-child) {
  margin-right: 1.5rem;
}

.user-container {
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.875rem 0 0.875rem 0;
}

.user-wrapper {
  font-size: 0.875rem;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
}

.user-icon {
  margin-right: .5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding: 1px;
  height: 1.75rem;
  width: 1.75rem;
  border-width: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px;
}

.background-1 {
  bottom: -6.25rem; right: -3rem;
  position: absolute;
  height: 9rem;
  width: 9rem;
  border-radius: 9999px;
}

.background-2 {
  position: absolute;
  height: 6rem;
  width: 5rem;
  border-radius: 9999px;
  z-index: 10;
  bottom: -4rem; right: -2rem;
}

@media only screen and (min-width: 600px) and (min-height: 1024px) {
  .main-container { padding: 0 1.5rem 0 1.5rem; }
  
  .header {
    padding: 1.5rem 0 1.5rem 0;
    font-size: 1.875rem;
    line-height: 2.25rem;
  }
  
  .locket-container {
    border-radius: 0.75rem;
    padding: 0.25rem 1rem 0.25rem 1rem;
  }
  
  .locket-label {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  
  .app-exit {
    font-size: 1.875rem;
    line-height: 2.25rem;
  }

  .queue-number-wrapper {
    width: 26rem;
    height: 26rem;
    border-width: 7.5px;
    margin-bottom: 1.75rem;
    padding: 1rem;
  }
  
  .queue-number-border {
    padding: 1rem;
  }
  
  .queue-number {
    font-size: 6rem;
    line-height: 1;
  }

  .app-text {
    margin-bottom: 1.75rem;
  }
  
  .app-text-title {
    font-size: 2.25rem;
    line-height: 2.5rem;
  }
  
  .app-text-subtitle {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }

  .queue-call-background {
    padding: 1rem 0 1rem 0;
    width: 20rem;
    margin-bottom: 1.75rem;
  }
  
  .queue-call-button {
    font-size: 2.25rem;
    line-height: 2.5rem;
    width: 16rem;
    padding: 1rem 2rem 1rem 2rem;
  }

  .queue-action-list {
    border-radius: 9999px;
    width: 28rem;
    padding: 1rem 2rem 1rem 2rem;
    margin-bottom: .5rem;
  }
  
  .queue-action-frame {
    padding: .25rem;
    border-radius: 0.25rem;
    height: 4rem;
    width: 4rem;
  }
  
  .queue-action-frame:not(:last-child) { margin-right: 2.75rem; }
  
  .queue-action-frame:not(:last-child):after {
    width: 1.85px;
    height: 2.75rem;
  }
  
  .queue-action {
    font-size: 1.5rem;
    line-height: 2rem;
    border-radius: 0.75rem;
  }
  
  .queue-action-label-list {
    font-size: 1rem;
    width: 28rem;
  }
  
  .queue-action-label { width: 4rem; }
  
  .queue-action-label:not(:last-child) { margin-right: 2.75rem; }

  .user-container {
    font-size: 1.5rem;
    line-height: 2rem;
    padding: 1.5rem 0 1.5rem 0;
  }
  
  .user-wrapper {
    font-size: 1.5rem;
    line-height: 2rem;
  }
  
  .user-icon {
    margin-right: 1rem;
    font-size: 2.25rem;
    line-height: 2.5rem;
    padding: 2px;
    height: 3.5rem;
    width: 3.5rem;
    border-width: 1.85px;
  }
  
  .background-1 {
    bottom: -11.5rem; right: -5.5rem;
    height: 16rem;
    width: 16rem;
  }
  
  .background-2 {
    height: 11rem;
    width: 11rem;
    bottom: -7.5rem; right: -4rem;
  }
}